@{
    ViewBag.Title = "Rectangles";
}


<div class="container">
    <h1 style="color:White">@ViewBag.Message</h1>
    <div class="row">
        <div class="col-lg-10">
            <h2 style="color:White">@ViewBag.Instructions</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10">
            <p>Status:</p>
            <h3 id="status" style="color:Silver"></h3>
            <p>Comment:</p>
            <h3 id="msg" style="color:Silver"></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9">
            <div class="backgrid">
                <div id="bigguy" class="box"></div>
                <div id="smallguy" class="box"></div>
                <div id="intersect"></div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="row">
                <div class="col-md-10">
                    <h4>Blue rectangle</h4>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>Width</label>
                            <input type="number" id="r1w" step="20" min="40" max="200" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Height</label>
                            <input type="number" id="r1h"  step="20" min="40" max="200" class="form-control" />
                        </div>   
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>Top:</label>
                            <h4 id="r1t"></h4>
                        </div>
                        <div class="form-group col-sm-6">
                           <label>Left:</label>
                            <h4 id="r1l"></h4>
                        </div>
                    </div>

                    <h4>Ochra Rectangle</h4>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>Width</label>
                            <input type="number" id="r2w" step="20" min="40" max="80" class="form-control" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label>Height</label>
                            <input type="number" id="r2h" step="20" min="40" max="80" class="form-control" />
                        </div>   
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label>Top:</label>
                            <h4 id="r2t"></h4>
                        </div>
                        <div class="form-group col-sm-6">
                           <label>Left:</label>
                            <h4 id="r2l"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
